
.singleBug {
	text-decoration: none;
}

#checklistUl{
  display: flex;
  justify-content: center;
}


h1, h2, h3, p, #bugForm, .checklist{
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

li{
    text-decoration-color: none;
}

.debugging{
  display: flex;
  justify-content: center;
  background-color: #d0cece;
  flex-direction: column;
}

#bugForm{
  padding-bottom: 100px;
}

#bugCount{
  width: 40px;
  height: 20px;
}
