
.singleBug {
	text-decoration: none;
}

{
  text-decoration: none;
  display: flex;
  justify-content: center;
}

#checklistUl{
  text-decoration: none;
}

h1, h2, #bugForm, .checklist{
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

li{
    text-decoration-color: none;
}

.debugging{
  display: flex;
  justify-content: center;
}
