
.singleBug {
	text-decoration: none;
}

.checklist{
  text-decoration: none;
  display: flex;
  justify-content: center;
}

#checklistUl{
  text-decoration: none;
  background-color: green;
}

h1 h2{
  display: flex;
  justify-content: center;
}